html, body{
    height: 100vh;
    width: 100vw;
    background-image: url(Images/Images/Background%20Image.png);
    background-position: 0% 9%;
    background-size: cover;
    background-repeat: no-repeat;
}
*{
    font-family: open sans;
    margin: 0;
    padding: 0;
}
.nav-link .navbar-brand{
    color: white !important;
}
.navbar-brand{
    font-size: 3vw !important
}
.nav-link{
    font-size: 1.3vw;
}
.content{
    margin-top: 17vw;
    margin-bottom: 35vw;
}
h1{
    font-size: 5vw; !important;
}
p{
    font-size: 18px;
    text-align: center;
}
.parallax{
    height: 30vw;
    background-image: url(Images/Images/739905.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}
#wemake{
    margin-left: 10%;
    font-size: 5vw;
    margin-top: 90px;
}
#ourgoal{
    margin-left: 19%;
    font-size: 5vw;
    margin-top: 90px;
}
#contact{
    text-align: justify;
    
}
.parallax2{
    height: 40vw;
    background-image: url(Images/Images/pexels-photo-91229.jpeg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    
}
.cols3{
    position: relative;
}
.count{
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    padding-top: 10vh;
    font-size: 35px;
}
.footer{
    background-image: url(Images/Images/Footer.png);
    background-size: cover;
    background-position: center;
    height: 80vh;
    position: relative;
}
.rights{
    position: absolute;
    bottom: 0;
    color: white;
    
}
.img-fluid{
   width: 45%;
}
.container h1{
    margin-top: 50px;
}
.img-fluid-1{
    width: auto;
}